@charset "utf-8";
.div_radio{
    width : 18%;
    float: left;
}
.table_radio{
    background-color: rgb(243, 243, 243);
    margin-left: 10px;
    margin-right: 10px;
}
.tr_radio{
    border: 0px;
    width: 100%;
}
.explan_text{
    margin: 8px;
	padding: 8px;
    color : rgb(255, 38, 0) ;
    font-weight: bolder;
}
.reg_form{
    margin: 0;
    display: inline;
}